<ion-view title='{{profile.email}}'>
    <ion-nav-buttons side="right">

    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <div class="item item-divider item-divider-button" style="height:40px;">
                <h2>PROFILE</h2>
                <button class="button button-small" ng-click='saveProfile()'>Save</button>
            </div>
            <label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text" ng-model='profile.name'>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Gender
                </div>
                <select ng-model='profile.gender'>
                    <option>Male</option>
                    <option selected>Female</option>
                </select>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Date of Birth</span>
                <input type="date" ng-model='profile.birthday'>
            </label>

            <div class="item item-divider item-divider-button">
                <h2>SECURITY</h2>
                <button class="button button-small">Change password</button>
            </div>
            <label class="item item-input">
                <input type="text" placeholder="Old Password">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="New Password">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Confirm Password">
            </label>
        </div>
        <button class="button button-block button-positive" ng-click='logout()'>
            Logout
        </button>
    </ion-content>
</ion-view>
