<div>
    <div class="list">
        <div class="item item-icon-left">
            <i class="icon ion-ios-eye"></i> Show pictures if has
        </div>
        <div class="item item-icon-left">
            <i class="icon ion-ios-paperplane"></i> Go to URL if has
        </div>
        <div class="item item-icon-left">
            <i class="icon ion-ios-compose"></i> Edit wish
        </div>
        <div class="item item-icon-left">
            <i class="icon ion-ios-trash"></i> Delete wish
        </div>
    </div>
</div>
