<ion-modal-view>
    <ion-header-bar class="bar-calm">
        <h1 class="title">{{mode.title}}</h1>
    </ion-header-bar>
    <ion-content style="background-image: url('img/drift_bottle.jpg'); background-size: 100% auto; background-position: center;">
        <form ng-submit="mode.submit()">
            <div class="list list-inset">
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="text" ng-model="loginData.email">
                </label>
                <label class="item item-input" ng-if='mode === modeEnum.LOGIN || mode === modeEnum.SIGN_UP'>
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="loginData.password">
                </label>
                <label class="item item-input" ng-if='mode === modeEnum.SIGN_UP'>
                    <span class="input-label">Display name</span>
                    <input type="text" ng-model="loginData.displayName">
                </label>

            </div>

            <div style="margin: 0 10px;">
                <button class="button button-block button-positive" type="submit">
                    {{mode.buttonText}}
                </button>
            </div>

            <div ng-show='mode === modeEnum.LOGIN' class="button-link">
                <a ng-click='setMode(modeEnum.FORGET_PASSWORD)'>Forget password?</a>
                <b>&nbsp;&nbsp;|&nbsp;&nbsp;</b>
                <a ng-click='setMode(modeEnum.SIGN_UP)'>Sign up!</a>
            </div>
            <div ng-show='mode === modeEnum.SIGN_UP' class="button-link">
                Already have an account? <a ng-click='setMode(modeEnum.LOGIN)'>Login</a>
            </div>
            <div ng-show='mode === modeEnum.FORGET_PASSWORD' class="button-link">
                Return to <a ng-click='setMode(modeEnum.LOGIN)'>Login</a>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
