<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-calm">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="content"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-calm" ng-show="platform == 'ios'">
            <!-- <h1 class="title">Menu</h1> -->
        </ion-header-bar>
        <ion-content>
            <div class="item item-divider">WISHLISTS</div>
            <ion-list>
                <ion-item nav-clear menu-close ng-href="#/app/wishlist/{{uid}}">
                    My Wishlist
                </ion-item>
                <ion-item nav-clear menu-close ng-href="#/app/wishlist/{{uid}}?purchased=true">
                    Purchased
                </ion-item>
            </ion-list>
            <div class="item item-divider">SHARED</div>
            <!-- <p class="shared-title" ng-show="beSharedList.length > 0">Shared</p> -->
            <ion-list>
                <ion-item nav-clear menu-close ng-href="#/app/wishlist/{{share.uid}}" ng-repeat="share in beSharedList">
                    {{share.displayName}}
                </ion-item>
            </ion-list>
            <div class="item item-divider">SETTINGS</div>
            <ion-list>
                <ion-item nav-clear menu-close class="item item-icon-left" ui-sref='app.share'>
                    <i class="icon ion-ios-upload"></i>Share
                </ion-item>
                <ion-item nav-clear menu-close class="item item-icon-left" ui-sref='app.account'>
                    <i class="icon ion-ios-person"></i>Account
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
