<ion-view title='Share'>
    <ion-content>
        <div class="item item-input-inset">
            <label class="item-input-wrapper">
                <input type="text" placeholder="Email" ng-model='inputData.email'>
            </label>
            <button class="button button-small" ng-click='add()'>Add</button>
        </div>

        <div class="list">
            <div class="item item-button-right" ng-repeat='share in shareList'>
                {{share.$value}}
                <a class="button button-icon icon ion-ios-close-empty" ng-click='del(share.$id, share.$value)'></a>
            </div>
        </div>
    </ion-content>
</ion-view>
