<ion-view view-title="{{mode.title}}">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-help-outline" ng-click='showHelp()'></button>
        <button class="button button-icon button-clear ion-ios-plus-outline" ng-click='addWish()' ng-if='mode.showAdd'></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="empty-view" ng-if="wishlist.length == 0">
            <p>{{mode.emptyMessage}}</p>
        </div>
        <div class="card" ng-repeat="wish in wishlist">
            <div class="item item-divider" style="height:40px;">
                <h2><b>{{wish.name}}</b></h2>
            </div>
            <div class="item item-text-wrap">
                <p>{{wish.detail}}</p>
                <div class="url" ng-show="wish.url">
                    <p>{{wish.url}}</p>
                </div>
            </div>
            <div class="item item-divider item-divider-button">
                <div style="position:absolute;left:0px;">
                    <button class="button button-small" ng-click="mode.leftBtnOnClick($index)" ng-show="mode.editable">
                        {{mode.leftBtnText}}
                    </button>
                </div>
                <div style="position:absolute;right:0px;">
                    <a class="button button-small button-icon icon ion-ios-eye" ng-href="#/app/picture/{{uid}}/{{wish.$id}}" ng-disabled='!wish.hasPicture'></a>
                    <a class="button button-small button-icon icon ion-ios-paperplane" ng-click="clickUrl(wish.url)" ng-disabled="!wish.url"></a>
                    <a class="button button-small button-icon icon ion-ios-compose" ng-href="#/app/wish/{{uid}}?wishId={{wish.$id}}" ng-show='mode.editable'></a>
                    <a class="button button-small button-icon icon ion-ios-trash" ng-click='removeWish(wish.$id)' ng-show='mode.editable'></a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
