<ion-view title='{{mode.title}}'>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-checkmark-outline" ng-click="saveWish()" ng-disabled="!wish.name">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Name</span>
            <input type="text" required='true' ng-model="wish.name">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">URL</span>
            <textarea ng-model="wish.url"></textarea>
        </label>
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Detail</span>
            <textarea ng-model="wish.detail"></textarea>
        </label>
        <div class="item item-divider item-divider-button">
            <h2>PICTURES</h2>
            <button class="button button-small icon ion-ios-camera" ng-click='insertPic(true)'></button>
            <button class="button button-small icon ion-ios-albums" ng-click='insertPic(false)'></button>
        </div>

        <div class="album">
            <div class="photo" ng-repeat='p in pics' ng-show="!p.deleted">
                <img ng-src="{{p.$value}}"></img>
                <button class="button button-small icon ion-close-round" ng-click="delPic($index)"></button>
            </div>
        </div>
    </ion-content>
</ion-view>
