<ion-view>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-checkmark-outline" ng-click="saveWish()">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <label class="item item-input">
            <span class="input-label">Name</span>
            <input type="text" required='true' ng-model="wish.name">
        </label>
        <label class="item item-input">
            <span class="input-label">URL</span>
            <input type="text" ng-model="wish.url">
        </label>
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Detail</span>
            <textarea ng-model="wish.detail"></textarea>
        </label>
        <div class="item item-divider">
            <h2>PHOTOS</h2>
        </div>

        <div class="album">
            <div class="photo" ng-repeat='p in pictures'>
                <button style="padding:0;">
                    <img ng-src="{{p.$value}} " width="136" height="136"></img>
                </button>
            </div>
            <div class="photo" ng-repeat='p in newPics'>
                <button style="padding:0;">
                    <img ng-src="{{p}} " width="136" height="136"></img>
                </button>
            </div>
            <div class="photo">
                <button class="button icon ion-ios-camera" style="width:68px" ng-click='insertPic()'></button>
                <button class="button icon ion-ios-albums" style="width:68px" ng-click='insertPic()'></button>
            </div>
        </div>

        <input type="file" file-model="wish.imageFile" />
        <button ng-click="uploadFile()">upload me</button>
    </ion-content>
</ion-view>
