<ion-view view-title="Wishlist">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-plus-outline" ng-click='addWish()' ng-show='editable'>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="card" ng-repeat="wish in wishlist">
            <div class="item item-divider" style="height:40px;">
                <h2 style="position:absolute;"><b>{{wish.name}}</b></h2>
                                <div style="position:absolute;right:0px;">
                    <a class="button button-small button-icon icon ion-ios-paperplane" ng-click="clickUrl(wish.url)" ng-show="wish.url"></a>
                    <a class="button button-small button-icon icon ion-ios-compose" ng-href="#/app/wish?wishId={{wish.$id}}" ng-show='editable'></a>
                    <a class="button button-small button-icon icon ion-ios-trash" ng-click='removeWish(wish.$id)' ng-show='editable'></a>
                </div>
            </div>
            <div class="item item-text-wrap">
                <p>{{wish.detail}}</p>
                <p>URL: {{wish.url}}</p>
            </div>
        </div>
    </ion-content>
</ion-view>
