/* Empty. Add your own CSS if you like */

.item-divider-button {
    height: 40px;
}
.item-divider-button h2 {
    position: absolute;
    font-weight: bold;
    vertical-align: middle;
}
.item-divider-button button {
    margin-top: -4px;
    margin-left: 4px;
    float: right;
}
.album {
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    text-align: center;
}
.photo {
    float: left;
    margin: 4px 0 0 10px;
    display: inline-block;
    position: relative;
}
.photo button {
    position: absolute;
    top: 2px;
    right: 2px;
    opacity: 0.8;
}
.url {
    border: solid #383838;
    border-width: 0 0 0 3px;
    padding: 2px 4px;
    margin: 4px 0 0 10px;
}
