/* Empty. Add your own CSS if you like */

.item-divider-button {
	height: 40px;
}

.item-divider-button h2 {
	position:absolute;
	font-weight: bold;
	vertical-align: middle;
}

.item-divider-button button {
    position: absolute;
    right: 10px;
    margin-top: -4px;
}
